In [2]:
import pandas as pd

In [5]:
dataset = pd.read_csv('Data/graph_extractor_float.csv')

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ticker                 57 non-null     object
 1   recommendation         57 non-null     object
 2   target_duration_years  57 non-null     float64
 3   YouTuber               57 non-null     object
 4   Publish Date           57 non-null     object
 5   Accuracy               57 non-null     float64
dtypes: float64(2), object(4)
memory usage: 2.8+ KB

In [8]:
# Convert 'Publish Date' to datetime format for further calculations
dataset['Publish Date'] = pd.to_datetime(dataset['Publish Date'], dayfirst=True)

/var/folders/35/mj3g4g9952j00j9pwxnzf0fr0000gq/T/ipykernel_32829/1955767780.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dataset['Publish Date'] = pd.to_datetime(dataset['Publish Date'], dayfirst=True)

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ticker                 57 non-null     object
 1   recommendation         57 non-null     object
 2   target_duration_years  57 non-null     float64
 3   YouTuber               57 non-null     object
 4   Publish Date           57 non-null     datetime64[ns]
 5   Accuracy               57 non-null     float64
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 2.8+ KB

In [11]:
dataset["ticker"] = dataset["ticker"].apply(lambda x: x.upper())

In [12]:
dataset.head()

,ticker,recommendation,target_duration_years,YouTuber,Publish Date,Accuracy
0,GTBL,buy,3.0,Rahul Jain,2023-07-30,0.64
1,SBIN,buy,3.0,Rahul Jain,2023-06-18,0.58
2,ITC,buy,3.0,Rahul Jain,2023-06-18,0.21
3,TCS,buy,3.0,Rahul Jain,2023-06-18,0.12
4,TCS,buy,3.0,Rahul Jain,2023-08-09,0.45